/* File Uploader Styles  */

.uploader input {
    display: none;
  }
  
  .uploader {
    -webkit-align-items: center;
    align-items: center;
    background-color: #efefef;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    height: 300px;
    -webkit-justify-content: center;
    justify-content: center;
    outline: 3px dashed #ccc;
    outline-offset: 5px;
    position: relative;
    width: 300px;
  }
  
  .uploader img,
  .uploader .icon {
    pointer-events: none;
  }
  
  .uploader,
  .uploader .icon {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  
  .uploader .icon {
    color: #eee;
    color: rgba(0, 0, 0, 0.2);
    font-size: 5em;
  }
  
  .uploader img {
    left: 50%;
    opacity: 0;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .uploader img.loaded {
    opacity: 1;
  }
  /*New Cards*/
  /*
 * Card component
 */
.card {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.card {
    /* padding: 16px; */
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #FFF;
}

.card > a {
    text-decoration: none;
    color: rgb(115, 115, 115);
}

.card:hover {
  opacity: 0.75;
}

.card > a > .card-header {}

.card > a > .card-content {
    padding: 16px;
}

.card > a > .card-content > .card-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 22px;
}

.card > a > .card-content > .card-author {
    color: #777;
    font-size: 12px;
    margin-top: -8px;
}

.card > a > .card-action {
    min-height: 30px;
}

/*
 * Pattern social media tool component
 */
.card > a > .card-action > .tools {
    padding: 0 0 0 13px;
    float: left;
}

.card > a > .card-action > .tools li {
    display: inline;
    color: #777;
}

.card > a > .card-action > .tools li a {
    text-decoration: none;
    color: #777;
}

.card > a > .card-action > .tools li a,
.card > a > .card-action > .tools li span {
    padding-left: 5px;
    padding-right: 5px;
}


.card > a > .card-content > .card-action > .tools li > span > .tools-item-counter {
    /* styling of the counter */
}