<div class="row">
  <div class="col-md-2">
    <img class="border-2 rounded" src="assets/img/band_image1.png" width="150" height="150" />
  </div>
  <div class="col-md-9">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="formGroupExampleInput">Nombre banda:</label>
            <input type="text" class="form-control form-control-sm" placeholder="Super banda..">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="formGroupExampleInput">Genero:</label>
            <input type="text" class="form-control form-control-sm" placeholder="Ej Pesado">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="formGroupExampleInput">País:</label>
            <input type="text" class="form-control form-control-sm" placeholder="Ej Colombia">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="formGroupExampleInput">Ciudad:</label>
            <input type="text" class="form-control form-control-sm" placeholder="Ej Medellin">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="formGroupExampleInput">Fecha Inicio:</label>
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model"></my-date-picker>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="formGroupExampleInput">Fecha Fin</label>
            <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model"></my-date-picker>
          </div>
        </div>
        <div class="col-md-3 my-auto">

          <div class="my-auto">
            <label for="formGroupExampleInput"> <input type="checkbox"> Activa</label>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <simple-tiny [elementId]="'my-editor-id'" (onEditorKeyup)="keyupHandlerFunction($event)">
        </simple-tiny>
  </div>
  <div class="col-md-6">

  </div>
</div>